@page
@model IdentityDuende.Pages.EmailConfirmation.IndexModel
@{
}
<div class="h-100 d-flex flex-column overflow-auto">

@if(Model.View.Success)
{
    <div class="m-auto alert alert-success" role="alert" style="width:380px;">
        <p>Successfully verified email address!</p>
        <p>Now you can close this window and sign in to your account!</p>
    </div>
}
else
{
    <div class="m-auto alert alert-danger" role="alert" style="width:380px;">
        <p>Unfortunately something went wrong while trying to activate your account, please try to generate a new activation token again</p>
    </div>
}
</div>


