@page
@model IdentityServer.Pages.EmailConfirmation.IndexModel
@{
}


<div class="alert alert-success" role="alert">
    <p>successfully Verified email address!</p>
    <p>Now you can log in to your account!</p>
</div>