@page
@model IdentityDuende.Pages.Account.Register.IndexModel
@{
}


<div class="d-flex flex-column h-100 bg-dark bg-gradient overflow-auto" >
    <div class="m-auto text-center card px-5 py-4  rounded-3 shadow-lg border border-primary" style="width:380px;">
        <div class="card-body p-0">
            <form method="post" class="needs-validation form-sign-up" novalidate required>

                <input type="hidden" asp-for="Input.ReturnUrl"/>

                <h1 class="h3 mb-4 fw-semibold">Sign up</h1>

                <partial name="_ValidationSummary" class="mb-3"/>

                <div class="input-wraper">
                    <div class="row align-items-center">
                        <i class="bi bi-envelope-at me-2 d-none d-sm-block col-1" style="font-size: 1.5rem;"></i>
                        <div class="col">
                            <div class="form-floating flex-grow-1">
                                <input placeholder="Email" class="form-control test1" asp-for="Input.Email">
                                <label asp-for="Input.Email"></label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center offset-sm-1">
                        <span style="font-size:0.9rem; " class="text-danger field-validation-valid ms-sm-2" asp-validation-for="Input.Email"></span>
                   </div>
                </div>

                <div class="input-wraper">
                    <div class="row align-items-center">
                        <i class="bi bi-key me-2 d-none d-sm-block col-1" style="font-size: 1.5rem;"></i>
                        <div class="col">
                            <div class="form-floating flex-grow-1">
                                <input placeholder="Password" class="form-control" asp-for="Input.Password" required maxlength="30" minlength="6" autocomplete="off">
                                <label asp-for="Input.Password"></label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center offset-sm-1">
                        <span style="font-size:0.9rem; " class="text-danger field-validation-valid ms-sm-2" asp-validation-for="Input.Password"></span>
                    </div>
                </div>

                <div class="input-wraper">
                    <div class="row align-items-center">
                        <i class="bi bi-shield-lock me-2 d-none d-sm-block col-1" style="font-size: 1.5rem;"></i>
                        <div class="col">
                            <div class="form-floating">
                                <input placeholder="Repeat Password" class="form-control" asp-for="Input.RepeatPassword" required maxlength="30" minlength="6" autocomplete="off">
                                <label asp-for="Input.RepeatPassword"></label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center offset-sm-1">
                        <span style="font-size:0.9rem; " class="text-danger field-validation-valid ms-sm-2" asp-validation-for="Input.RepeatPassword"></span>
                    </div>
                </div>


                <button class="btn btn-primary mt-3 w-100 bg-primary bg-gradient" name="Input.Button" value="login">Sign up</button>

                <div class="mt-1 mb-3  text-muted fw-normal fw-bolder" style="font-size: 0.8rem;">
                    <span>Already have an account?</span>
                    <a asp-page="../Login/Index" asp-route-returnUrl="Input.ReturnUrl"> Sign in now!</a>
                </div>
        
            </form>
        </div>
        @if (Model.RegisterViewModel.VisibleExternalProviders.Any())
        {
            <div class="card-footer px-0 pt-4 p d-flex flex-column gap-1 bg-transparent">
                @foreach (var provider in Model.RegisterViewModel.VisibleExternalProviders)
                {
                    @if (provider.AuthenticationScheme == "Google")
                    {
                        <a class="btn btn-google d-flex align-items-center"
                               style="height:41px; padding-left:12px; padding-right:12px;"
                               asp-page="/ExternalLogin/Challenge"
                               asp-route-scheme="@provider.AuthenticationScheme"
                               asp-route-returnUrl="Input.ReturnUrl">

                            <img src="~/images/google-logo.svg" />
                            <span class="mx-auto">Sign up With Google</span>
                        </a>
                    }
                    @if (provider.AuthenticationScheme == "AzureOpenId")
                    {
                        <a class="btn btn-microsoft d-flex align-items-center"
                                style="height:41px; padding-left:12px; padding-right:12px;"
                               asp-page="/ExternalLogin/Challenge"
                               asp-route-scheme="@provider.AuthenticationScheme"
                                asp-route-returnUrl="Input.ReturnUrl">

                            <img src="~/images/ms-logo.svg"/>
                            <span class="mx-auto">Sign up With Microsoft</span>
                        </a>
                    }
                }
            </div>
        }
    </div>

</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}